[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
mysql-connector = "*"
mysql-connector-python = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
