{% extends 'layouts/forms.html' %}
{% from 'layouts/_formhelpers.html' import render_field %}

{% block title %}Admin Login{% endblock %}
{% block admin_css %}
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
{% endblock %}
{% block content %}
  <h1 class="lead">LOGIN ADMIN ACCOUNT</h1>
  <hr class="my-lead"> 
  <form method="post" class="form">
    {{ form.crsf_token }}

    {{ form.hidden_tag() }}

    {{ render_field (form.email, class = 'form-control', type ='email', placeholder = form.email.label.text, required = true, autofocus = true) }}
    
    {{ render_field (form.password, class = 'form-control', placeholder = form.password.label.text, required = true) }}
    
    <input type="submit" value="Admin Login" class="mdc-button mdc-button--raised next mdc-ripple-upgraded" style="
    width: 99%;">
    
  </form>

{% endblock %}

{% block success_registering %}
  <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
  </div>
{% endblock %}