{% extends 'layouts/forms.html' %}
{% from 'layouts/_formhelpers.html' import render_field %}

{% block title %}Forgot Password{% endblock %}
{% block content %}
  <form method="post" class="form">
    {{ form.crsf_token }}

    {{ form.hidden_tag() }}
    
    {{ render_field (form.email, class = 'form-control', type='email', placeholder = form.email.label.text, required = true, autofocus = true)}}
    
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    
    <p class="pull-right"><a href="{{ url_for('register') }}">Register</a></p>
    
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
  
  </form>
{% endblock %}

{% block sucess_registering %}
  <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
  </div>
{% endblock %}
