{% extends 'layouts/forms.html' %}
{% from 'layouts/_formhelpers.html' import render_field %}

{% block title %}Reset Password{% endblock %}
{% block content %}
  <form method="post" class="form">
    {{ form.crsf_token }}
    
    {{ form.hidden_tag() }}

    {{ render_field (form.password, class = 'form-control', placeholder = form.password.label.text, required = true, autofocus = true)}}

    {{ render_field (form.confirm, class= 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
  
  </form>
{% endblock %}

{% block success_registering %}
  <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
  </div>
{% endblock %}